// Placeholder to quickly add your own theme variable overrides
// The file is included at the beginning of the build pipeline

$headline-font: "Playfair Display";
$theme-font: "Source Sans Pro Regular";

$orange: #FF9E00;
$secondary: #ff1e00;
$grey-darker: #363636;
